body {
  font-family: 'Open Sans';
  font-size: 100%;
  /*color: #4478aa;*/
  margin: 0px;
}

#wighelper {
  margin: 2em;
}

/*
a:link {color:#E6E6E6;}
a:visited {color:#E6E6E6;}
a:hover {color:#E6E6E6;}
a:active {color:#E6E6E6;}
*/
a:link {color:#FDFDFD;}
a:visited {color:#FDFDFD;}
a:hover {color:#FDFDFD;}
a:active {color:#FDFDFD;}

.bodyDiv {
  width:170px; 
  height: 225px; 
  background-color:#1976d2; 
  text-align:center; 
  margin:0 auto;
}

.container {
  position: relative;
}

.search {
  z-index: 10;
}

.bgImage, .search {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
}

.bgImage {
  background: url(assets/images/other/widget-bg.png) no-repeat center;
  opacity: 0.3;
  height: 100px;
}

.subHeader {
  color: #E6E6E6; 
  font-size: x-small;
}

.headerCol {
  vertical-align: bottom;
  color: #E6E6E6;
  text-align: center;
}

.button {
  height:20px; 
  width:60px; 
  font-weight:bold; 
  color: black; 
  background-color:white;
  border:0;
  border-radius:5px;
  cursor: pointer;
}

.count {
  font-size: 12px; 
  font-weight:bold; 
}

.textInput {
  width: 150px;
  margin-top: 40px;
}

.search {
  margin-top: 30px;
}

.header {
  padding-top: 10px;
}

#result {
  height: 25px;
}

a {
  text-decoration: none;
}

.z9 {
  height:20px;
  width: 120px;
  margin-top: 4px;
}

h1 {
  margin-top: 0px;
  margin-bottom: 1px;
  font-size:medium;
}

.coder {
  background-color: #fff;
  border: 1px dashed #ddd;
  padding: 0.5em;
}

td {
  background-color: white;
  border: 1px solid #777;
  padding: 0.25em 1em;
}
